@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root{
  --a:0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
  color: white;
}

.left {
  width: 25vw;
  padding: 15px;
  transition: width 0.3s ease;
}

/* add from other */
/* Collapsed state */
.left.collapsed {
  width: 70px;        /* just enough for icons */
  padding: 15px 8px;
}

/* Hide labels when collapsed */
.left.collapsed .sidebar-label {
  display: none;
}
.left.collapsed .browse-all {
  display: none;
}

.left.collapsed .right.header.logo{
  display: none;
}

/* Center icons when collapsed */
.left.collapsed .home ul li {
  justify-content: center;
}
.left.collapsed .home {
  background-color: black;
}

.left.collapsed .logonav {
  justify-content: center;
}

/* Always show hamburger */
.hamburger {
  display: block !important;
  cursor: pointer;
}
.hamburger img {
  width: 28px;
}
.right {
  width: 100vw;;
}
.right .header .logo{
  display: none;
}

.home ul li {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  padding: 10px;
}
li {
  list-style: none;
}

.home {
  padding: 10px;
   background: linear-gradient(
    to bottom right,
    #0f172a,
    #1e1b4b,
    #020617
  );
}

.browse-all {
  padding: 10px;
}
.browse-all ul li {
  padding: 10px;
  color: rgb(125, 126, 142);
}

.logonav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  font-size: 12px;
  bottom: 20px;
  gap: 5px;
  flex-wrap: wrap;
  padding: 5px;
}
.footer a {
  color: gray;
  text-decoration: none;
}

.header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 50px;
}


.header > * {
 margin-right: 16px;
    margin-top: 17px;
}

.player {
  display: flex;
  justify-content: space-between;
  left: 25px;
  height: 225px;
  margin: 8px;
  border-radius: 10px;
  background-color: aqua;
}
.player .recent img {
  padding: 15px;
  width: 140px;
  border-radius: 25px;
}
.player ul {
  padding: 0 14px 38px;
}
.recent {
  display: flex;
  gap: 5px;
  align-items: center;
}
.recent ul {
  display: grid;
  gap: 15px;
  font-size: 20px;
}

.Albums {
  padding: 6px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 160px;
  border-radius: 5px;
  padding: 10px;
  transition: all .9s;
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card .rounded {
  height: 145px;
  width: 150px;
  object-fit: cover;     
  border-radius: 5px;    
  display: block;
}

.cardContainer {
  display: flex;
  margin: 20px;
  gap: 20px;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 45vh;
}
.card .play {
  position: absolute;
  top: 108px;
  right: 12px;
  width: 41px;
  opacity: var(--a);
  transition: all 1s ease-out;
}
.card:hover{
  background-color: rgb(49, 49, 49);
  cursor: pointer;
  --a:1;

}

.buttons > * {
  margin: 0 5px;
}

 .header  {
 position: relative;
}
.buttons{
  position: absolute;
  right: 0;
}

.signupbtn {
  background-color: black;
  color: rgb(176, 170, 170);
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 15px;
}
.signupbtn:hover {
  font-size: 16px;
  color: white;
}

.loginbtn {
  background-color: white;
  border-radius: 20px;
  padding: 6px;
  color: black;
  cursor: pointer;
  width: 70px;
}
.loginbtn:hover {
  padding: 7px;
  width: 75px;
  font-weight: bold;
}
.playbar {
  position: fixed;
  bottom: 0;
  background-color: rgba(66, 64, 64, 0.719);
  width: -webkit-fill-available;

  /* border: 2px solid white; */
}
.playbr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.container {
  position: relative;
}

.songbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.library ul li {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 26px;
  padding: 10px 0;
}

.library img {
  width: 42px;
  height: 32px;
}
.animatebar{
  font-size: 20px;
  display: grid;
  gap: 15px;
}

.info {
  font-size: 12px;
  width: 150px;
}
.library {
  overflow-y: auto;
  margin: 5px 0;
}
.seekbar input{
  height: 4px;
  width: 100%;

  position: absolute;
  cursor: pointer;
 
}

.songbuttons img {
  cursor: pointer;
  width: 30px;
}

.volume{
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.range input{
  cursor: pointer;
}

.gradient-bg {
  background: linear-gradient(
    to bottom right,
    #0f172a,
    #1e1b4b,
    #020617
  );
}


@media (max-width: 1200px) {
.left .sidebar-label {
  display: none;
}
.left .browse-all {
  display: none;
}

.left.header.logo{
  display: block;
}


.left{
    position: absolute;
    justify-content: center;
    transition: all .3s;
    z-index: 1;
    width: 70px;  
    background-color: black;
    bottom: 200px;
  }
  
.logonav{
  justify-content: center;
}
.home {
    
    background: black;
}
  .right{
    width: 100vw;
    margin-left: 90px;
    padding: 1px 15px;
  }

  .header .buttons {
  justify-content: space-between;
}
.close{
  display: block;
}
.playbr{
  font-size: 10px;
}
.card{
  width: 180px;;
}
.cardContainer {
  justify-content: center;
  max-height: 54vh;
}
.card .play {
                 top: 270px;
        right: 30px;
        width: 55px;
}
.songbuttons img {
  width: 20px;
}

}

@media (max-width: 600px) {
.player{
   display: grid;
   height: 350px;
}
    .left {
      z-index: -1;
    }

        .right {
        margin-left: 10px;
        }

        .playbar {
   height: 190px;
}
.playbr {
    display: grid;
    gap: 22px;
    margin: 15px;
    margin-left: 85px; 
}
.songbuttons img{
 width: 50px;
}

.songinfo{
  font-size: 23px;
}
}
